:root {
    --main-color: #346DFF;
    --font-family: Open Sans, sans-serif;
    --text-shadow: 1px 1px 10px black;
}

* {
    /* outline: 1px solid red; */
}

html {
    font-family: var(--font-family);
    font-size: 1rem;
    box-sizing: border-box;
}

h1 {
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*========== Utilities ==========*/

.vertical {
    flex-direction: column;
}

.blue {
    background-color: var(--main-color);
    color: white;
}
.white {
    background-color: white;
    color: var(--main-color);
}
.bordered{    
    border: 1px solid var(--main-color);
}

.padded {
    padding: 1em;
}
.no-overflow {
    overflow: hidden;
}

.tall {
    height: 25svh !important; 
}
.text-shadow {
    text-shadow: var(--text-shadow);
}
/*========== Elements ==========*/

.dashboard_section {
    border-radius: 22px;
    height: clamp(100px, 15vh, 250px);
    min-height: 15svh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;    
    gap: .25em;
    margin: .5em 0;
    position: relative;
}

.cta_header {
    width: 90%;
    z-index: 10;
}

.cta_section {
    border-radius: 16px;
    height: 100%;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cta_description {
    font-size: .7rem;
    font-weight: 100;
}

.pill_btn {
    border-radius: 22px;
    padding: .75em 1em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: .9rem;
    max-width: 100px;
    
}

.categories_ctn {
    display: flex;
    gap: 0.5em;
}

.category_ctn {
    height: 100%;
    transition: all .5s ease-in-out;
}

ul {
    padding: 0;
    margin: 0;
}

.course-list {
    color: black;
    height: 0px;
}

.course-list .active {
    height: 100%;
    display: block;
}

.course-item {
    list-style: none;
    padding: .5em 0;
    opacity: 0;
    animation: stagger .5s ease-in-out forwards 1;
    animation-delay: calc(var(--order) * .1s);
}

.course-item:hover {
    cursor: pointer;
    color: var(--main-color)
}

.accordion_header {
    color: white;
    padding: 1em 0; 
    width: 100%;
    border-radius: 16px;
    background-color: lavender;
    height: 5svh;
    background-size: cover;
    background-position: center;
}
.accordion_header > h3 {
    /* width: 100%; */
    text-align: left;
    margin-left: 1em;
    text-shadow: var(--text-shadow);
}

/*========== Shifting background pictures ==========*/

.shifting_bg {
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    animation: slideAnimation 10s infinite;

}

.bg_picture {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 1s ease-in-out;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bg_picture::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color:#346eff0e; */
    z-index: 1;
}

.first{
    background-image: url('pexels-tima-miroshnichenko-5814285.jpg');
}

.second{    
    background-image: url('pexels-yan-krukau-8190101.jpg');
}

@keyframes slideAnimation {
    0%, 100% {
      left: 0;
    }
    25% {
      left: 0;
    }
    30% {
      left: -100%;
    }
    95% {
      left: -100%;
    }
  }

  @keyframes stagger {
    0% {
      opacity: 0;
      transform: translateY(80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}